body {
	font-family:'arial';
	background-color:#fbfbfb;
	line-height:150%;
	font-size:14px;
	
}

h1 {
	font-family:'Montserrat', sans-serif;
	color:#444;
	font-size:20px;
	text-transform:uppercase;
	letter-spacing:-2px;
}


h5 {
	font-family:'Montserrat', sans-serif;
	color:#444;
	line-height: 40%;
	font-size:34px;
	text-transform:uppercase;
	letter-spacing:-2px;
}


h2 {
	font-family:'Montserrat', sans-serif;
	font-size:25px;
	text-transform:uppercase;
	letter-spacing:-2px;
	color:#547980;
	background-color:#ccc;
	padding:10px;
	width:110%;
	margin-left:-20px;

}

h3 {
	font-family:'Montserrat', sans-serif;
	font-size:30px;
	margin-bottom: -12px;
	text-transform:uppercase;
}


.img1 {
	float:left;
	width:298.33px;
	height:298.33px;
	background-size:contain;
	-webkit-transition:0.5s;
	transition:0.5s;
	margin-bottom:10px;
	overflow:hidden;
	border:2px solid #456040;
	margin:10px;
}

.baby {
	width:298.33px;
	height:298.33px;
	margin-top:100px;
	position:relative;
	opacity:1;
	padding:10px;
	-webkit-transition:0.5s;
	transition:0.5s;
	z-index:1;
	margin-left:0px;
	opacity:1;
	padding-top:10px;
	background-color:#eee;
}



.img1:hover .baby{
	z-index:1;
	margin-top:-298.33px;
	opacity:1;
	-webkit-transition:0.5s;
	transition:0.5s;
}

#header {
	background-color:#fafafa;
	width:900px;
	height:400px;
	margin-top:20px;
	margin-left:220px;
}

.headerpt1 {
	float:left;
	padding:20px;
	background-color:#fafafa;
	height:400px;
	width:400px;
	margin-left:-83px;
	border: solid 1px #ccc;

}

.headerpt2 {
	float:right;
	background-color:#fafafa;
	float:top;
	width:500px;
	height:400px;
	padding:20px;
	margin-left:-20px;
	border:solid 1px #ccc;
}

.portrait {
	border:3px solid #9DE0AD;
	background-size: contain;
	width:200px;
	height:200px;
	margin-top:-5px;
	border-radius:100%;
	background-image:url("http://i.imgur.com/TzvpLnj.jpg");
}

.about {
	width:250px;
	height:190px;
	overflow:auto;
	text-align:right;
	font-size:12px;
	margin-left:20px;
	margin-top:-20px;
	padding:8px;
}

#portfolio {
	margin-top:20px;
	width:900px;
	clear:left;
	margin-left:135px;
}

.imglessproject {
	width:210px;
	height:110px;
	float:left;
	background-color:#444;
	padding:20px;
	font-family:'Montserrat', sans-serif;
	font-size:30px;
	overflow:hidden;
	line-height:150%;
	color:white;
	border:2px solid #45ADA8;
	margin:10px;
}

h4 {
	width:965;
	margin-bottom:10px;
	padding:10px;
	color:#edbb34;
	text-shadow: 1px 0px 0px #fff;
	text-align: center;
	background-color:#456040;
	font-family:'Montserrat', sans-serif;
	font-size:30px;
	text-transform:uppercase;
}

iframe {
	border:2px solid #45ADA8;
	margin:10px;
	float:left;

}

#footer {
	margin-top:20px;
	clear:left;
}